.wrap {
  text-align: center;
}
.h3 {
  color: black;
  font-weight: bold;
}
.form-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.form-control {
  background-color: powderblue;
}
p {
  color: purple;
}
